#Div_Comentario{
    margin-left: 4px;
    height: fit-content;
    width: 600px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DCDCDC;
    padding: 15px;
}

#Agregar_Comentario{
    display: flex;
}

#NuevoComentario{
    padding: 5px;
    background-color: #F6FFFC;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DCDCDC;
    height: 20px;
    margin-bottom: 10px;
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    resize: none;
}

#Summary_Comentario{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: blue;
}
#Button_Enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    background-color: #082284;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    width: 80px;
    border-width: 1px;
    border-color: #DCDCDC;
    outline: none;
    box-shadow: none;

}
#Button_Enviar:hover{
    box-shadow: 0px 2px 2px #DCDCDC;
}
#ComentarioUnico{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #DCDCDC;
}
#Autor_Comentario{
    grid-column: 1;
    margin: 0;
    margin-top: -10px;
}

#Foto_Autor{
    grid-column: 1;
    margin: 25px auto;
    height: 50px;
    width: 50px;
    background-size: cover;
}
#Contenido_Comentario{
    display: block;
    grid-column: 2;
    margin-top: 15px;
}
#NombreAutor{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: #FF5757;
}
#Texto_Comentario{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}